body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

header{
    border-bottom: 1px solid rgb(225, 221, 252);
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    max-width: 1140px;
    margin: 0 auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand{
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.nav-links{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

}
.nav-link{
    font-size: 14px;
    color: rgb(106, 118, 130);
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}
.nav-link:hover{
    color: rgb(21, 25, 29);
}
.nav-actions{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.btn-outline{
    border: 1px solid rgb(219, 219, 227);
    background: transparent;
    color: rgb(21, 25, 29);
    font-size: 13px;
    border-radius: 4px;
    padding: 4px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    user-select: none;

}
.btn-outline:hover{
    background: rgb(243, 242, 245);
}
main{
    max-width: 1140px;
    margin: 25px auto;
    padding: 0 16px;

}
.banner{
    position: relative;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 24px;
}
.banner img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
.banner-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 24px;
    background: linear-gradient(transparent, black);
    color: white;
    top: 100px;
}
.banner-text h2{
    margin: 0 0 4px 0;
    font-weight: 600;
    font-size: 20px;
}
.banner-text p{
    font-size: 14px;
    max-width: 650px;
    line-height: 1.6;
}
h3.section-title{
    text-align: center;
    color: rgb(106, 118, 130);
    font-weight: 400;
    margin-bottom: 16px;
}
hr.divider{
    border: none;
    border-top: 1px solid #dde3e9;
    margin-bottom: 24px;
}
.category-filters{
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.category-btn{
    font-size: 12px;
    padding: 4px 12px;
    border: 1px solid rgb(205, 205, 219);
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(106, 118, 130);
    user-select: none;
    white-space: nowrap;
}
.category-btn.active{
    background: rgb(252, 249, 249);
    border-color: rgb(106, 118, 130);
    color: rgb(106, 118, 130);
}
.category-btn:hover:not(.active) {
    background: rgb(252, 249, 249);
}

footer{
    text-align: center;
    color: rgb(111, 120, 130);
    font-size: 12px;
    padding: 16px 0;
    border-bottom: 1px solid rgb(225, 221, 252);
}
footer a{
    color: rgb(111, 120, 130);
    text-decoration: underline;
    user-select: none;
}
footer a:hover{
    color: rgb(21, 25, 29);
}